.contact{
    display: grid;
    place-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--suplementary-color);
}

.contact__heading{
    text-align: center;
    font-style: 2.8rem;
}

.contact__paragraph{
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 400;
    font-weight: 2rem;
}

@media (min-width: 768px) { 
    .contact__heading{
        font-size: 3.2rem;
    }
    .contact__paragraph{
        font-size:2.8rem;

    } 
}